<h2 class="page-header" >Login</h2>
<form class="form-signin" (submit)="onLoginSubmit()">
        <div class="form-group">
          <label for="Username">Username</label>
          <input type="text" class="form-control" placeholder="Enter Username" [(ngModel)]="email" name="username">
        </div>
        <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" placeholder=" Enter Password" [(ngModel)]="password" name="password">
        </div>
        <input class="btn btn-lg btn-primary" type="submit" value="Login">
        <span class="ml-4"><a class="link text-primary" [routerLink]="['/forgotpassword']">forgot Password ?</a></span>
        <div class="mt-4"><a class="link text-primary" [routerLink]="['/register']">Not Registered yet ?</a></div>
</form>
