<div *ngIf="user">
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Email : {{user.email}}</li>
  </ul>
</div>

<div class="mt-3" *ngFor="let userDetails of userDetailsData; index as i;">
  <h4 class="page-header">Memebr {{i + 1}}</h4>
  <form>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <input type="text" [(ngModel)]="userDetails.name" name="name" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="col-md-4 mb-3">
          <input type="text" [(ngModel)]="userDetails.middleName" name="middleName" class="form-control" id="" placeholder="Middle Name">
        </div>
      <div class="col-md-4 mb-3">
        <input type="text" [(ngModel)]="userDetails.surName" name="surName" class="form-control" id="" placeholder="Surname">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <input type="number" [(ngModel)]="userDetails.phone" name="phone" class="form-control" id="phone" placeholder="555-555-5555">
      </div>
      <div class="col-md-4 mb-3">
        <input type="email" [(ngModel)]="userDetails.email" name="email" class="form-control" id="email" placeholder="jayzadeshwar@gmail.com">
      </div>
      <div class="col-md-4 mb-3">
        <input type="date" [(ngModel)]="userDetails.birthdate" name="birthdate" class="form-control" id="birthdate" placeholder="Birthdate">
      </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
          <input type="text" [(ngModel)]="userDetails.address" name="address" class="form-control" id="address" placeholder="Address">
        </div>
        <div class="col-md-4 mb-3">
          <input type="text" [(ngModel)]="userDetails.state" name="email" class="form-control" id="state" placeholder="State">
        </div>
        <div class="col-md-4 mb-3">
          <input type="text" [(ngModel)]="userDetails.zipcode" name="zipcode" class="form-control" id="zipcode" placeholder="Zipcode">
        </div>
      </div>
  </form>
  <button class="btn btn-primary" (click)="onClearMember(i)">Clear</button>
  <button class="btn btn-danger" (click)="onDeleteMember(i)">Remove</button>
</div>

<div class="mt-3">
  <button class="btn btn-primary" (click)="onUserDetailsSubmit(userDetailsData)">Save</button>
  <button class="btn btn-primary" (click)="onAddNewUser()">Add New User</button>
</div>