.panel-container {
  border: 1px solid #c8c8c8;
  border-radius: 0.25rem;
}

.panel-header {
  border-bottom: 1px solid #c8c8c8;
  padding: 0.75rem 1.25rem;
  background-color: #F8F5F0
}

.panel-body {
   padding: 0.75rem 1.25rem;
}

.panel-footer {
  padding: 0.75rem 1.25rem;
}
