<p-dialog (onHide)="onHide()"
[modal]="true"
[responsive]="true" [style]="{width: '350px', minWidth: '200px'}"
  header="Add New User" [(visible)]="openAddUserDialog" [responsive]="true">
    <div class="container">
        <form class="form-inline" role="form">
            <div *ngFor="let field of userConfigs" class="form">
              <div class="label">
                  <label>{{field.headerName}}</label>
              </div>
              <div class="component">
                  <div class="ui-inputgroup" *ngIf="field.componentType === 'dropdown'">
                      <input placeholder="Global Filter" [(ngModel)]="filterTerm"
                          type="text" name="filterTerm" id="filterTerm" />
                  </div>
                  <div *ngIf="field.componentType === 'dropdown'">
                    <p-dropdown
                      [style]="{'minWidth':'200px'}"
                      [showTransitionOptions]="'0ms'"
                      [hideTransitionOptions]="'0ms'"
                      [options]=[] 
                      defaultLabel="Select Country"
                      
                      (onChange)="onCloseDropDown($event, 'country')">
                    </p-dropdown>
                  </div>
              </div>
            </div>
        </form>
      </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>