.ag-grid-container {
    height: 500px;
    clear: both;
    font-weight: 550;
    font-size: 14px;
}
.header-cell {
    background-color: #a6e1ec;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.quarters-cell {
    background-color: #5bc0de;
    font-weight: bold;
}

.directory .ui-toolbar {
    background: transparent;
}

.search-box {
    font-size: 16px;
    line-height: 16px;
    padding-top: 10px;
}

.search-box input {
    padding: 5px;
    background: white;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

